@media (max-width:994px) {
    .logo-container img {
        max-width: 40%;
    }

    .form,
    .programPara,
    .whyTheseStreamImg img,
    .imageOverlay {
        max-width: 100% !important;
        width: 100% !important;
    }

    .formBody,
    .formHead {
        padding: 30px;
    }

    .cardContainer {
        padding: 20px;
    }

    .form-svg {
        top: 30px;
        right: 0px;
    }

    .mainBgImage,
    .containerPy {
        padding: 50px 14px;
    }

    .admissionBadge {
        padding: 10px 20px;
    }

    .imageOverlay {
        padding: 18px;
    }

    .mainHead {
        font-size: 40px;
        padding-right: 0%;
    }

    .programSubHead {
        font-size: 28px;
    }

    .mainPara,
    .subjectHead {
        font-size: 18px;
    }

    .admissionBadge span,
    .cardContainer div p {
        font-size: 14px;
    }

    .subBadge {
        font-size: 11px;
    }

    .apply-btn {
        padding: 10px 30px;
    }
}

@media (max-width:768px) {
    .form-svg {
        top: 100px;
        right: 0px;
    }

    .gap-md-30 {
        gap: 30px;
    }
}

@media (min-width:768px) {
    .gap-60 {
        gap: 60px;
    }
}