.inter {
    font-family: "Inter", sans-serif;
}

.w-fit {
    width: fit-content;
}

.text-orange {
    color: #E46B3F !important;
}

.bg-orange {
    background-color: #E46B3F !important;
}

.text-darkBlue {
    color: #1F144F !important
}

.bg-darkBlue {
    background-color: #1F144F !important
}


.fw-700 {
    font-weight: 700;
}

.formBody,
.formHead {
    padding: 40px;
}

.pb-15px {
    padding-bottom: 15px;
}

.containerPy {
    padding: 80px 0px;
}

.apply-btn {
    padding: 15px 30px;
    border-radius: 14px;
    background: #E46B3F;
}

.logo-container {
    padding: 2px 0px;
}

.logo-container img {
    max-width: 15%;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    aspect-ratio: 213/106;
}

.mainBgImage {
    padding: 94px 0px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.60) 0%, rgba(102, 102, 102, 0.60) 100%), url('../assets/HeroSection.webp') lightgray 2px / 100% 100% no-repeat;
}

.admissionBadge {
    padding: 10px 50px 10px 25px;
    gap: 12px;
    border-radius: 37770672px;
    border: 1.126px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
}

.admissionBadge div {
    width: 12px;
    height: 12px;
    border-radius: 37770672px;
    opacity: 0.5;
    background: #FFF;
}

.admissionBadge span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.141px;
    letter-spacing: 0.492px;
}

.mainHead {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.5px;
    padding-right: 20%;
}

.mainPara {
    color: #D1D5DC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form {
    width: 500px;
    border-radius: 10px 10px 0 0;
    background: #FFF;
}

.formHead,
.form-field {
    border-bottom: 1px solid #4D4D4D;
}

.formHead h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    padding-right: 40px;
}

.formBody {
    gap: 20px;
}

.form-svg {
    top: 52px;
    right: 60px
}

.our-program {
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 3px;
}

.programSubHead {
    color: #1F144F;
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;
}

.programPara {
    color: rgba(31, 20, 79, 0.50);
    font-size: 18px;
    font-weight: 400;
    line-height: 28.32px;
    width: 500px;
}

.whyTheseStreamImg img {
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.imageOverlay {
    width: 500px;
    bottom: 0;
    padding: 30px;
    color: white;
}

.imageOverlay h6 {
    color: #A8E63E;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2px;
}

.imageOverlay h5,
.pathwayCardContent h5 {
    color: #ffffffe6;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}

.imageOverlay p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.cardContainer {
    width: 100%;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    background: #F7F7FA;
}

.subjectHead {
    color: rgba(31, 20, 79, 0.80);
    font-size: 25px;
    font-weight: 700;
    line-height: 22.453px;
}

.icon {
    border-radius: 10px;
    background: #1F144F;
    height: 40px;
    padding: 10px 14px;
    color: #FFF;
    font-size: 15px;
    font-weight: 800;
    line-height: 21.589px;
    letter-spacing: 0.72px;
}

.cardContainer div p {
    color: rgba(31, 20, 79, 0.70);
    font-size: 16.31px;
    font-weight: 400;
    line-height: 27.73px;
}

.subjectCard {
    border-top: 1px solid rgba(142, 142, 142, 0.20);
    padding: 20px 12px 0 2px;
    gap: 17.263px;
    align-self: stretch;
}

.subTitle {
    color: rgba(31, 20, 79, 0.50);
    font-size: 11.898px;
    font-weight: 700;
    line-height: 17.847px;
    letter-spacing: 1.785px;
    text-transform: uppercase;
}

.subBadge {
    padding: 10px 14px;
    gap: 8px;
    border-radius: 32196102px;
    border: 1px solid rgba(31, 20, 79, 0.06);
    color: rgba(31, 20, 79, 0.60);
    font-size: 14px;
    font-weight: 700;
    line-height: 22.453px;
}

.cardContainer:hover {
    background: #1F144F;
}

.cardContainer:hover .icon {
    background: #FFF;
    color: #1F144F;
}

.cardContainer:hover .subjectHead,
.cardContainer:hover .subTitle,
.cardContainer:hover div p {
    color: white;
}

.cardContainer {
    transition: background-color 0.4s ease;
}

.cardContainer .icon {
    transition: all 0.4s ease;
}

.cardContainer .subjectHead,
.cardContainer .subTitle,
.cardContainer div p {
    transition: color 0.4s ease;
}

.pathwaySpan div:nth-child(1) {
    width: 8px;
    height: 8px;
    border-radius: 26843500px;
    background: #FFF;
}

.pathwaySpan span {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2px;
}

.pathwayHead {
    color: #FFF;
    font-size: 42px;
    font-weight: 800;
    line-height: 50px
}

.pathwayCard {
    max-width: 400px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 12.047px 18.07px -3.614px rgba(31, 20, 79, 0.08), 0 4.819px 7.228px -4.819px rgba(31, 20, 79, 0.08);
}

.pathwayIcon {
    top: -50px;
    width: 90px;
    height: 90px;
    padding: 0 10px;
    border-radius: 32337678px;
    background: #EAE8F4;
}

.pathwayIcon span {
    width: 70px;
    height: 70px;
    padding: 0 20px;
    flex-shrink: 0;
    border-radius: 32337678px;
    background: #E46B3F;
    box-shadow: 0 5px 8px -1px rgba(31, 20, 79, 0.30), 0 2px 5px -2px rgba(31, 20, 79, 0.30);
}

.pathwayCardContent {
    padding: 45px 30px 35px 30px;
}

.pathwayCardContent p,
.pathwayFooter p {
    color: rgba(31, 20, 79, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.pathwayFooter {
    margin: auto;
    max-width: 900px;
    width: 100%;
    padding: 20px 10px;
    gap: 30px;
    border-radius: 5px;
    border-top: 1px solid rgba(31, 20, 79, 0.60);
}

.btn-pathway {
    gap: 8px;
    border-radius: 8px;
    width: 150px;
    border: 1px solid #E46B3F !important;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 10px;
}

.pathwayFooter p {
    max-width: 600px;
    width: 100%;
}

.mainfooter {
    gap: 20px;
    padding: 30px 0px;
}

.footerLeft {
    padding-top: 20px;
    gap: 20px;
}

.footerLeft img {
    width: 164px;
    height: 82px;
    aspect-ratio: 2/1;
}

.footerLeft p,
.contactInfo {
    color: #99A1AF;
    font-size: 14px;
    line-height: 20px;
    width: 367px;
}

.footerRight {
    width: 388px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 30px;
}

.footerRight h5 {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.copyRightSection p {
    color: #6A7282;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}